# 8. Python Variable

### Creating Variable in Python 
* Variables are containers for storing data values.
* Python has no command for declaring a variable.
* A variable is created the moment you first assign a value to it.

In [2]:
x = 123 
y = "Zorba Consulting"
print(x)
print(y)

123
Zorba Consulting

## 8.1 Rules for Python variables:

* A variable name must start with a letter or the underscore character.
* A variable name cannot start with a number.
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).
* Variable names are case-sensitive (roll, Roll and Roll are three different variables).
Example

### Legal variable names:

    mystr = "Zorba",
    my_str = "Zorba"
    _my_str = "Zorba"
    myStr = "Zorba"
    MYSTR = "Zorba"
    mystr1 = "Zorba"

### Illegal variable names:

    2mystr = "Zorba",
    my-str = "Zorba",
    my str = "Zorba"

# 9. Python Data Types

>Data types are the classification or categorization of data items. Data types represent a kind of value which determines what operations can be performed on that data.

##  Python has the following standard or built-in data types:

### 9.1 Numeric
>A numeric value is any representation of data which has a numeric value. Python identifies three types of numbers:

### 9.1.1 Integer:
>Positive or negative whole numbers (without a fractional part)

In [3]:
#Example 
x=12
y=3

### Arithmetic operations (addition, subtraction, multiplication and division)

In [5]:
print(5+3)

8

In [6]:
print(5-3)

2

In [7]:
print(5*2)

10

In [9]:
print(5/3)

1.6666666666666667

In [33]:
3//2

1

In [10]:
print(2*3+4)

10

### You can use parenthesis to modify the standard order of operations

In [11]:
print(2*(3+4))

14

### 9.1.3 Float:
>Any real number with a floating point representation in which a fractional component is denoted by a decimal symbol or scientific notation

In [13]:
f1=2.22

In [24]:
f1=5.55
f2=2.2
print(f1+f2)

7.75

In [17]:
print(f1*f2)

12.21

In [18]:
print(f1/f2)

2.5227272727272725

### 9.1.4 Complex number:
>A number with a real and imaginary component represented as x+yj. x and y are floats and j is -1(square root of -1 called an imaginary number)

In [19]:
x=3+5j
print(x)

(3+5j)

In [20]:
x.real

3.0

In [23]:
x.imag

5.0

### 9.2 Boolean
>Data with one of two built-in values True or False. Notice that 'T' and 'F' are capital. true and false are not valid booleans and Python will throw an error for them.

In [ ]:
x=False
y=True

In [34]:
True and True

True

In [35]:
True and False

False

In [36]:
False and False

False

In [37]:
False and True

False

In [38]:
True or True

True

In [39]:
True or False

True

In [40]:
False or True

True

In [41]:
False or False

False

## 9.3 Sequence Type
>A sequence is an ordered collection of similar or different data types. Python has the following built-in sequence data types:

### 9.3.1 String:
>A string value is a collection of one or more characters put in single, double or triple quotes.

## Introduction to Strings

### Single quotes

In [4]:
str1="Zorba Consulting" 
str2='Zorba Consulting'

### Double quotes

In [15]:
str3="A variable name must start with a letter or the underscore character,\
'A variable name cannot start with a number'"
print(str3)

A variable name must start with a letter or the underscore character,'A variable name cannot start with a number'

### Multiple quotes

In [18]:
str4= '''Zorba is the new age analytics provider that brings data-driven decisions to life for its clients.\
We believe in getting analytics executed on the ground with the client team rather than just creating complex machine learning or predictive modeling algorithms.\
We offer services across the spectrum ranging from analytics training and setting up data centers to delivering analytics-based strategic consulting solutions.'''
print(str4)

Zorba is the new age analytics provider that brings data-driven decisions to life for its clients.We believe in getting analytics executed on the ground with the client team rather than just creating complex machine learning or predictive modeling algorithms.We offer services across the spectrum ranging from analytics training and setting up data centers to delivering analytics-based strategic consulting solutions.

### Combining strings (concatenation)

In [26]:
str1 = "Zorba"
str2 = "Consulting"
str3 = str1 + " " + str2
print(str3)

Zorba Consulting

### 9.3.2 List :
A list object is an ordered collection of one or more data items, not necessarily of the same type, put in square brackets.

### Introduction to List

In [19]:
list1 = ['python', 'java','Cpp', 200, 150,100]
list2 = [11, 22, 33, 44, 55, 66, 77, 88]
list3 = ["apple", "mango", "cherry", "banana"]

In [25]:
print(list1)

['python', 'java', 'Cpp', 200, 150, 100]

### Range of Indexes
* You can specify a range of indexes by specifying where to start and where to end the range.
* When specifying a range, the return value will be a new list with the specified items.

In [21]:
print(list2[2:])

[33, 44, 55, 66, 77, 88]

In [22]:
print(list2[2:6])

[33, 44, 55, 66]

In [23]:
print(list2[:4])

[11, 22, 33, 44]

### 9.3.3 Tuple: 
>A Tuple object is an ordered collection of one or more data items, not necessarily of the same type, put in parentheses.

## Introduction to Tuple

In [24]:
tuple1 = ('python', 'java','Cpp', 200, 150,100)
tuple2 = (11, 22, 33, 44, 55, 66, 77, 88)
tuple3 = ("apple", "mango", "cherry", "banana")

### 9.3.4 Dictionary
>A dictionary object is an unordered collection of data in a key:value pair form. A collection of such pairs is enclosed in curly brackets. For example: {1:"Python", 2:"C", 3:"Cpp", 4: "Java"}

### Introduction to Dictionary

In [1]:
# mydict={key : value}
mydict = {
  "Python": 1,
  "Cpp": 2,
  "Java": 3
}

In [2]:
print(mydict)

{'Python': 1, 'Cpp': 2, 'Java': 3}

### You can access the items of a dictionary by referring to its key name

In [3]:
print(mydict['Python'])

1

# 10. Python type() 
>The type() function is used to get the type of an object

In [3]:
print("1234 : ",type(1234))

print(type(55.50))

print(type(6+4j))

print(type("hello"))

print(type([1,2,3,4]))

print(type((1,2,3,4)))

print(type({1:"one", 2:"two", 3:"three"}))

1234 :  <class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

## Exercises

1. Create simple calculator in Python